<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Installation Offices</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body> 
    <h2 class="m-4">Logo</h2>
    <h2 class="text-justify text-center">Installation Instructions</h2>
    <div class="list-group">
        <%@offices.each do |office| %>
            <li class="list-group-item">
                <a class="btn btn-info" href="/reports/offices/<%=office['id']%>/installation"><%=office['title']%></a>
            </li>
        <% end %>
    </div>
</body>
</html>