<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload file</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="m-3">
  <h1>Upload file</h1>
  <form method='post' enctype='multipart/form-data' class="mt-4">
    <div class="form-group">
      <label for='file'>Choose file to upload</label>
      <input type='file' class="form-control-file" id='file' name='file' multiple>
    </div>
    <button class="btn btn-success mt-3"><a href="/" style="text-decoration: none;color: rgb(255, 255, 255);">Submit</a></button>
   </form>
</body>
</html>